h1{
     color: black;
     font-family: Arial, Helvetica, sans-serif; 
     background-color: blanchedalmond;
     font-size: 30px;
 }
   p{
    color:#ffebcd;
    font-family: impact;
    background: lightgoldenrodyellow;
    font-size: 30px;
}
